:root {
    --opensrp-blue: #00aeef;
    --opensrp-blue-hover: #0494ca;
    --opensrp-gray: rgb(66, 67, 69);
}

.body-container {
    display: flex;
    gap: 1rem;
}

.body-container::before {
    content: "";
    display: block;
    background: url("../img/hand.png") bottom right no-repeat, var(--opensrp-blue);
    width: 50%;
}

.login-pf-page .card-pf {
    margin: 0;
}

.login-pf-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-pf,
.login-pf body {
    background: var(--opensrp-gray);
}

.kc-logo-text {
    background-image: url('../img/openSRP.png');
    background-repeat: no-repeat;
    height: 63px;
    width: 300px;
    margin: 0 auto;
    background-size: 200px auto;
}

.kc-logo-text span {
    display: none;
}

input[type="submit"]#kc-login {
    background-color: var(--opensrp-blue);
}

input[type="submit"]#kc-login:hover {
    background-color: var(--opensrp-blue-hover);
}