.login-pf body {
  background: #00aeef;
}

.login-pf-header h1 {
  text-align: center;
  font-weight: 500 !important;
}

input.form-control {
  height: 36px;
}

.realm-title {
  margin: 10px;
  color: #fff;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.body-container {
  background: #00aeef;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
#left-mask {
  flex: 1;
  background: url("../img/child-hero.jpg") center no-repeat;
  background-size: cover;
}
.content-area__oauth {
  flex: 1;
  display: flex;
  background: url("../img/unicef-logo-bg.svg") center no-repeat;
  background-position: left 0px top 50%;
}
#right-mask {
  margin: 20px auto;
  width: 70%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.logo {
  display: flex;
  justify-content: end;
  height: 65px;
  margin: 0 5px;
}
.logo img {
  height: 100%;
  width: auto;
}

.form-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-area .card-pf {
  width: 100%;
  padding: 20px;
}

#kc-content-wrapper {
  border-radius: 1%;
  background: white;
  margin-top: 10%;
}

@media only screen and (max-width: 768px) {
  #left-mask {
    display: none;
  }
}
